.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(80deg, #486AAE,  #6b80ac, #ffffff);
  }

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  margin-top:10px;
  margin-bottom: 0px;
  border: none;
  background-color: #3c60a8;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  margin-top:0px;
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
}

.error-message{
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.logo {
  width: 200px;
  height: auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0ceeb;
  padding: 10px;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-left img{
  max-width: 120px;
  max-height: 120px;
}

.logo-right img{
  max-width: 90px;
  max-height: 50px;
}

.logo-left {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo-right {
  position: absolute;
  top: 4px;
  right: 35px;
}

.logo-left,
.logo-right {
  display: flex;
  align-items: center;
}
